services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: quiz_management_db
      POSTGRES_USER: quiz_user
      POSTGRES_PASSWORD: quiz_password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U quiz_user -d quiz_management_db"]
      interval: 10s
      timeout: 5s
      retries: 5

  web:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    environment:
      - DEBUG=True
      - DB_HOST=db
      - DB_NAME=quiz_management_db
      - DB_USER=quiz_user
      - DB_PASSWORD=quiz_password
      - DB_PORT=5432
    depends_on:
      db:
        condition: service_healthy
    command: /app/entrypoint.sh

volumes:
  postgres_data:
  static_volume:
  media_volume: